# Travis auto-virtualenv isn't supported on OS X
language: generic
matrix:
  include:
    - dist: xenial
      language: python
      python: "2.7"
      os: linux
      env: PYTHON=/usr/bin/python2.7 CATKIN_VERSION=indigo-devel
    - dist: xenial
      language: python
      python: "3.4"
      os: linux
      env: PYTHON=/usr/bin/python3.4 CATKIN_VERSION=indigo-devel
before_install:
  # Install catkin_tools dependencies
  - source .travis.before_install.bash
  - pip install setuptools argparse catkin-pkg PyYAML psutil trollius osrf_pycommon pyenchant "sphinxcontrib-spelling<4.3.0"
install:
  # Install catkin_tools
  - python setup.py develop
before_script:
  # Install catkin_tools test harness dependencies
  - ./.travis.before_script.bash
  - pip install empy sphinx_rtd_theme nose coverage flake8 mock --upgrade
  - git clone https://github.com/ros/catkin.git /tmp/catkin_source -b $CATKIN_VERSION --depth 1
  - mkdir /tmp/catkin_source/build
  - pushd /tmp/catkin_source/build
  - cmake .. && make
  - source devel/setup.bash
  - popd
script:
  # Run catkin_tools test harness
  - python setup.py nosetests -s
  # Build documentation
  - pushd docs
  - make html
  - sphinx-build -b spelling . build -t use_spelling
  - popd
notifications:
  email: false
