language: python
python:
  - "2.7"
  - "3.3"
install:
  - pip install argparse catkin-pkg distribute PyYAML
  - pip install nose coverage flake8 --upgrade
before_script:
  - sudo apt-get install -qq google-mock
  - sudo apt-get install cmake python-setuptools libgtest-dev build-essential
  - pip install empy --upgrade
  - git clone https://github.com/ros/catkin.git /tmp/catkin_source
  - mkdir /tmp/catkin_source/build
  - pushd /tmp/catkin_source/build
  - cmake .. && make
  - source devel/setup.bash
  - popd
script:
  - python setup.py develop
  - python setup.py nosetests -s
notifications:
  email: false
